*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#main{
    width: 98%;
    margin: 1rem auto;
    background-color: #F5F7F8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    margin: 20px auto;
    padding: 20px;
}
#img-div{
    width: 98%;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#img-caption{
    max-width: 900px;
    margin: 1.5rem auto;
}
#timeline > li{
    max-width: 900px;
    margin: 2rem 1rem;
    text-align: left;
}
#timeline > li > .year{
    font-weight: 800;
}
#tribute-info > p{
    margin: 2rem auto;
    font-weight: 800;
}
